$myVar: 0;
$my_var: 100px;
$my-var: 200px;
$my_other_vAr: 300px;
$My-Cool_var: 400px;
$MY-VAR: 500px;
$my_var_2: 600px;
$my__var--3: 700px;
$value-Map: (
  my_var4: 800px,
  my-var5: 900px,
  my__var--6: 1000px
);
